@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    height: 100vh;
    width: 100vw;
    body{
        background-image: linear-gradient(to top, #C3C3C3, #3C3C3C);
    }
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 260px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
    transition: 0.3s;
    transition-timing-function: ease;
}
#imagem{
    background: url(../Imagens/Fundo\ Login.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    display: block;
}
#formulario{
     padding: 10px;
     display: block;
}
#formulario  h1{
    text-align: center;
    margin-bottom: 10px;
}
#formulario p{
    font-size: 0.8em;
}
.campo{
    background-color: #5E5E5E;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}
.campo > label{
    display: none;
}
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #5E5E5E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: #3C3C3C;
}
form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 7px;
    color: white;
    background-color: #808080;
    border: 1px solid #5E5E5E;
    border-radius: 5px;
    text-decoration: none;
}
form > a.botao > i{
    font-size: 0.8em;
}
form > a.botao:hover {
    background-color: #626262; 
}